.project-section-title{
    background-color: #eee;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.project-form{
    padding: 10px;
}
.project-btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 10px;
}